{% load staticfiles %}
<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta http-equiv="content-type" charset="UTF-8">
		<title>{% block title %}DICOM Web Viewer{% endblock %}</title>

		<link rel="stylesheet" href="{% static "css/style.css" %}">
		<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
		<script src="{% static 'bootstrap/js/jquery-1.11.1.min.js' %}"></script>
		<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

		<style>
		#pageHeader #toolbar { display: inline-block; float: right; margin-top: 10px;}
		</style>


		<link rel="stylesheet" href="{% static "ext/jquery/ui/1.10.2/themes/ui-darkness/jquery-ui-1.10.2.min.css" %}">
		<!-- Third party -->
		<script type="text/javascript" src="{% static "ext/jquery/jquery-1.9.1.min.js" %}"></script>
		<script type="text/javascript" src="{% static "ext/jquery/ui/1.10.2/jquery-ui-1.10.2.min.js" %}"></script>
		<script type="text/javascript" src="{% static "ext/flot/jquery.flot.min.js" %}"></script>
		<!-- Local -->
		<script type="text/javascript" src="{% static "src/dwv.js" %}"></script>
		<script type="text/javascript" src="{% static "src/application.js" %}"></script>
		<script type="text/javascript" src="{% static "src/dicom/dicomParser.js" %}"></script>
		<script type="text/javascript" src="{% static "src/dicom/dictionary.js" %}"></script>
		<script type="text/javascript" src="{% static "src/html/gui.js" %}"></script>
		<script type="text/javascript" src="{% static "src/html/gui_ui.js" %}"></script>
		<script type="text/javascript" src="{% static "src/html/html.js" %}"></script>
		<script type="text/javascript" src="{% static "src/html/style.js" %}"></script>
		<script type="text/javascript" src="{% static "src/html/layer.js" %}"></script>
		<script type="text/javascript" src="{% static "src/image/filter.js" %}"></script>
		<script type="text/javascript" src="{% static "src/image/image.js" %}"></script>
		<script type="text/javascript" src="{% static "src/image/view.js" %}"></script>
		<script type="text/javascript" src="{% static "src/image/luts.js" %}"></script>
		<script type="text/javascript" src="{% static "src/image/reader.js" %}"></script>
		<script type="text/javascript" src="{% static "src/math/shapes.js" %}"></script>
		<script type="text/javascript" src="{% static "src/math/bucketQueue.js" %}"></script>
		<script type="text/javascript" src="{% static "src/math/scissors.js" %}"></script>
		<script type="text/javascript" src="{% static "src/utils/string.js" %}"></script>

		<!-- Tools: beware order is important... -->
		<script type="text/javascript" src="{% static "src/tools/toolbox.js" %}"></script>
		<script type="text/javascript" src="{% static "src/tools/windowLevel.js" %}"></script>
		<script type="text/javascript" src="{% static "src/tools/info.js" %}"></script>
		<script type="text/javascript" src="{% static "src/tools/draw.js" %}"></script>
		<script type="text/javascript" src="{% static "src/tools/line.js" %}"></script>
		<script type="text/javascript" src="{% static "src/tools/rectangle.js" %}"></script>
		<script type="text/javascript" src="{% static "src/tools/roi.js" %}"></script>
		<script type="text/javascript" src="{% static "src/tools/circle.js" %}"></script>
		<script type="text/javascript" src="{% static "src/tools/livewire.js" %}"></script>
		<script type="text/javascript" src="{% static "src/tools/zoom.js" %}"></script>
		<script type="text/javascript" src="{% static "src/tools/filter.js" %}"></script>
		<script type="text/javascript" src="{% static "src/tools/undo.js" %}"></script>

		<script type="text/javascript">
function toggle(dialogId)
{
	if( $(dialogId).dialog('isOpen') )
	{
		$(dialogId).dialog('close');
	}
	else
	{
		$(dialogId).dialog('open');
	}
}

// main application
var app = new dwv.App();

// jquery
$(document).ready(function(){
	// initialise buttons
	$("button").button();
	$("#toggleInfoLayer").button({ icons:
		{ primary: "ui-icon-comment" }, text: false });
	// create dialogs
	$("#openData").dialog({ position:
		{my: "left top+100", at: "left top", of: "#pageMain"} });
	$("#toolbox").dialog({ position:
		{my: "left top+255", at: "left top", of: "#pageMain"} });
	$("#history").dialog({ position:
		{my: "left top+410", at: "left top", of: "#pageMain"},
		autoOpen: true });
	$("#tags").dialog({ position:
		{my: "right top", at: "right top", of: "#pageMain"},
		autoOpen: false, width: 500, height: 590 });


	// image dialog
	$("#layerDialog").dialog({ position:
		{my: "left+320 top+100", at: "left top", of: "#pageMain"}});
	// default size
	$("#layerDialog").dialog({ width: "auto", resizable: false });
	// Resizable but keep aspect ratio

	// initialise the application
	app.init();
	// align layers when the window is resized
	window.onresize = app.resize;
	// possible load from URL
	var input = dwv.html.getUriParam("input");
	if( input ) app.loadURL(decodeURIComponent(input));
});
		</script>
		{% block extrahead %}{% endblock %}
	</head>



	<body>
		<div id="pageHeader">
			<!-- Title -->
			<img src="{% static "mislviewer.png" %}">
			<!-- Toolbar -->
			<div id="toolbar">
				<button ><a href="{% url 'misl_viewer:index' %}">Viewer</a></button>
				<button ><a href="{% url 'misl_viewer:list' %}">Gellery</a></button>
				<button onclick="toggle('#openData')">File</button>
				<button onclick="toggle('#toolbox')">Toolbox</button>
				<button ><a href="{% url 'misl_viewer:upload' %}">Upload</a></button>
				<button onclick="toggle('#tags')">Tags</button>
				<button onclick="toggle('#layerDialog')">Image</button>
				<button onclick="app.toggleInfoLayerDisplay()">Info</button>
			</div><!-- /toolbar -->
		</div><!-- /pageHeader -->


		<div class="container">
			{% block content %}
			{{ content }}
			{% endblock %}
		</div>
	</body>
</html>
