{% extends "base.html" %}
{% load staticfiles %}
{% block extrahead %}
<style type="text/css">
.tab{overflow:hidden;}
.tab li{background:#ccc; padding:5px 25px; float:left; margin-right:1px;}
.tab li.select{background:#eee;}
/*.content li{background:#eee; padding:20px;}*/
.hide_content {display:none;}
li {padding-left:0px;list-style:none;}
</style>

<!-- Third party -->
<script type="text/javascript" src="{% static "ext/jquery/jquery-1.9.1.min.js" %}"></script>
<script type="text/javascript" src="{% static "ext/jquery/ui/1.10.2/jquery-ui-1.10.2.min.js" %}"></script>
<script type="text/javascript">
$(function() {
	//クリックしたときのファンクションをまとめて指定
	$('.tab li').click(function() {

		//.index()を使いクリックされたタブが何番目かを調べ、
		//indexという変数に代入します。
		var index = $('.tab li').index(this);

		//コンテンツを一度すべて非表示にし、
		$('.content li').css('display','none');

		//クリックされたタブと同じ順番のコンテンツを表示します。
		$('.content li').eq(index).css('display','block');

		//一度タブについているクラスselectを消し、
		$('.tab li').removeClass('select');

		//クリックされたタブのみにクラスselectをつけます。
		$(this).addClass('select')
	});
});
</script>


{% endblock %}
{% block content %}

<h1>Gallery</h1>
<hr \>


<ul class="tab">
	<li class="select">患者A</li>
	<li>患者B</li>
	<li>患者C</li>
	<li>患者D</li>
</ul>

<ul class="content">
	<li>
		<table class="table table-hover table-bordered">
			<thead>
				<th>ID</th>
				<th>Date</th>
				<th>Img</th>
				<th>Name</th>
				<th>Add tag</th>
				<th>Threshold</th>
				<th>Action</th>
			</thead>

			<tbody>
				<!-- list -->
				{% for image in images %}
				{% if image.id == 47 %}
				<tr>
					<td class="danger">{{ image.id }}</td>
					<td class="danger">{{ image.upload_date }}</td>
					<td class="danger"><img src="{{ STATIC_URL }}file/png/{{ image.file_name }}.png" width="80" height="60" ></td>

					<td class="danger">{{ image.file_name }}</td>
					<td class="danger">{{ image.set_tag }}</td>
					<td class="danger">{{ image.set_threshold }}</td>
					<td class="danger">
						<a href="{% url 'misl_viewer:image_del' image_id=image.id %}" class="btn btn-default btn-sm">削除</a>
						<a href="{% url 'misl_viewer:display' image_id=image.id %}" class="btn btn-default btn-sm">表示</a>
						<a href="#" class="btn btn-default btn-sm">修正</a>
					</td>
				</tr>
				{% else %}
				<tr>
					<td>{{ image.id }}</td>
					<td>{{ image.upload_date }}</td>
					<td><img src="{{ STATIC_URL }}file/png/{{ image.file_name }}.png" width="80" height="60" ></td>

					<td>{{ image.file_name }}</td>
					<td>{{ image.set_tag }}</td>
					<td>{{ image.set_threshold }}</td>
					<td>
						<a href="{% url 'misl_viewer:image_del' image_id=image.id %}" class="btn btn-default btn-sm">削除</a>
						<a href="{% url 'misl_viewer:display' image_id=image.id %}" class="btn btn-default btn-sm">表示</a>
						<a href="#" class="btn btn-default btn-sm">修正</a>
					</td>
				</tr>
				{% endif %}
				{% endfor %}
			</tbody>
		</table>
	</li>

	<li class="hide_content">test1</li>
	<li class="hide_content">test2</li>
	<li class="hide_content">test3</li>
</ul>

{% endblock content %}
