{% extends "base.html" %}
{% load staticfiles %}
{% block extrahead %}
 {% endblock %}
{% block content %}

	<divid="pageMain">
		<div class="container">
			<div class="row">
				<div class="span12">
					<h1>Gallery</h1>
					<hr \>

				<table class="table table-striped table-bordered">
					<thead>
						<th>ID</th>
            <th>Img</th>
						<th>Name</th>
            <th>Action</th>
					</thead>

					<tbody>
					<!-- list -->
					{% for image in images %}
					<tr>
						<td>{{ image.id }}</td>
            <td><img src="{{ STATIC_URL }}file/png/{{ image.file_name }}" width="80" height="60" ></td>

						<td>{{ image.file_name }}</td>
            <td>
              <a href="#" class="btn btn-default btn-sm">削除</a>
              <a href="#" class="btn btn-default btn-sm">修正</a>
            </td>
					</tr>
					{% endfor %}
					</tbody>
				</table>

				</div><!-- /span12 -->
			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /pageMain -->
{% endblock content %}
