{% extends "base.html" %}
{% load bootstrap %}
{% block extrahead %}
<style type="text/css">
.multiple-checkbox ul { /* Used to hide <li> elements in multiple checkbox forms */
	padding-left: 0px;
	list-style: none;
}
</style>
{% endblock %}
{% block content %}
<div id="pageMain">
	<div class="container">
		<div class="row">
			<div class="span12">
				<h1>DICOM Images Upload</h1>
				<hr \>
				<!-- upload -->
				<form enctype="multipart/form-data" class="form" role="form" action='/viewer/'method='POST'>{% csrf_token %}
					<p><b>アップロードするファイルを選択してください</b></p>
					<input type='file' name="upload[]" multiple="multiple" required>
					<br>
					{{ form|bootstrap }}
					<div class="form-group">
						<div>
							<input type="submit" class="btn btn-primary" value="Submit" />
						</div>
					</div>
				</form>
			</div><!-- /span12 -->
		</div><!-- /row -->
	</div><!-- /container -->
</div><!-- /pageMain -->
{% endblock content %}
